.fullwidth-container {
    padding: 0 15px;
    
}

#mainContent {
    
}

#containerRegCheckusername button{
    width: 100%;
}

.alert-small {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#filesTree {
    background: #fff;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

li.jstree-leaf > a .jstree-icon {
    background: url("../img/ui/file.png") 0px 0px no-repeat;
}

#editor, #editorContainer, #contentContainer, #contentContainer > .row, #tabPdf > .tab-pane {
    height: 100%;
}

#image-viewer-image {
    max-height: 400px;
}

.controls {
    margin-top: 20px;
}

#btnNew {
    margin-right: 4px;
}

#sidebar .btn {
    height: 34px;
}

#pdf-viewer {
    height: 100%;
    width: 100%;
}

#preview {
    height: 100%;
}

.alertProgress {
    width: 200px;
    height: 75px;
    position: absolute;
    top: 75px;
    right: 75px;
    display: none;
}

#content {
    height: 500px;
}

iframe {
    border: none;
}

#log {
    overflow-y: scroll;
        
}